### 07. 판다스 데이터 그룹핑 하기

데이터 그룹핑은 데이터를 특정한 값에 기반해 묶는 기능으로 `groupby()` 를 사용해서 통계량을 요약할 수 있음.
통계량에 관계된 메서드에는 mean(평균), std(표준편차), var(분산), max(최대값), min(최소값) 등이 있다

In [36]:
import pandas as pd

In [37]:
# 한 열을 기준으로 그룹화하기
s1 = pd.read_excel('../input/pandas_010/nation.xlsx')
s1

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

In [38]:
s1.groupby('국적코드').sum()  # 국적코드라는 열을 그룹화 동일한 국적코드 3가지만 남기고(unique) 다 합쳐버림(sum), 숫자는 합산되고 문자는 나열됨

        성별    입국객수    증가수
국적코드
A01   남성여성  255000  18000
A05   남성여성     500     60
A06   남성여성  483912  87952

In [39]:
s1.groupby('성별').sum()  # 성별을 기준으로 그룹화 
# 여기까진 SQL이랑 크게 다르지 않음

         국적코드    입국객수    증가수
성별
남성  A01A05A06  284212  32496
여성  A01A05A06  455200  73516

In [40]:
s1.groupby(['성별']).sum()  # 성별을 기준으로 그룹화

         국적코드    입국객수    증가수
성별
남성  A01A05A06  284212  32496
여성  A01A05A06  455200  73516

In [41]:
# pandas 에는 또 다른 기능
# 여러 열을 기준으로 그룹화하기
s1.groupby(['국적코드', '성별']).sum

In [42]:
# 문제 (2024-03-13, am 09:15)
# covid.csv 파일을 읽고
# '사례수'가 가장 높은 항목의 모든 정보를 출력해 보자.
# '증가율'이 높은 3개의 항목을 출력해보자.
covid = pd.read_csv('../input/pandas_02/covid.csv', encoding='cp949')
covid.head()

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0

In [43]:
# 2. '사례수'가 가장 높은 항목의 모든 정보를 출력
# 조건문과 불 인덱싱 사용
# result = covid.groupby(['사례수']).sum()
# result
df_tmp = covid['사례수'] == covid['사례수'].max()

In [44]:
df1 = covid[df_tmp]  # <- 얘가 판다스에서 맛집기능임
df1

     항목  사례수    증가   감소  변화없음
0  스마트폰  999  78.9  1.7  19.4

In [46]:
# result2 = covid.groupby(['증가']).sum()
# result2.head(3)
# 3. 증가율'이 높은 3개의 항목을 출력해보자.
df2 = covid.sort_values(['증가'], ascending=False)
df2

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0
5    잡지·책  776  31.3  17.8  50.9
6    종이신문  552  17.6  23.2  59.2

In [47]:
df3 = df2.iloc[:3]  #0,1,2번 인덱스 까지
df3

       항목  사례수    증가   감소  변화없음
0    스마트폰  999  78.9  1.7  19.4
1    텔레비전  965  68.5  3.9  27.6
2  개인용 PC  973  65.7  3.7  30.6