### 07. 판다스 데이터 그룹핑 하기

데이터 그룹핑은 데이터를 특정한 값에 기반해 묶는 기능으로 `groupby()` 를 사용해서 통계량을 요약할 수 있음.
통계량에 관계된 메서드에는 mean(평균), std(표준편차), var(분산), max(최대값), min(최소값) 등이 있다

In [26]:
import pandas as pd

In [27]:
# 한 열을 기준으로 그룹화하기
s1 = pd.read_excel('../input/pandas_010/nation.xlsx')
s1

  국적코드  성별    입국객수    증가수
0  A01  남성  125000   8000
1  A01  여성  130000  10000
2  A05  남성     300     10
3  A05  여성     200     50
4  A06  남성  158912  24486
5  A06  여성  325000  63466

In [28]:
s1.groupby('국적코드').sum()  # 국적코드라는 열을 그룹화 동일한 국적코드 3가지만 남기고(unique) 다 합쳐버림(sum), 숫자는 합산되고 문자는 나열됨

        성별    입국객수    증가수
국적코드
A01   남성여성  255000  18000
A05   남성여성     500     60
A06   남성여성  483912  87952

In [29]:
s1.groupby('성별').sum()  # 성별을 기준으로 그룹화 
# 여기까진 SQL이랑 크게 다르지 않음

         국적코드    입국객수    증가수
성별
남성  A01A05A06  284212  32496
여성  A01A05A06  455200  73516

In [30]:
s1.groupby(['성별']).sum()  # 성별을 기준으로 그룹화

         국적코드    입국객수    증가수
성별
남성  A01A05A06  284212  32496
여성  A01A05A06  455200  73516

In [31]:
# pandas 에는 또 다른 기능
# 여러 열을 기준으로 그룹화하기
s1.groupby(['국적코드', '성별']).sum

In [32]:
# 문제 (2024-03-13, am 09:15)
# covid.csv 파일을 읽고
# '사례수'가 가장 높은 항목의 모든 정보를 출력해 보자.
# '증가율'이 높은 3개의 항목을 출력해보자.
covid = pd.read_csv('../input/pandas_02/covid.csv', encoding='cp949')
covid.head()

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0

In [51]:
# 2. '사례수'가 가장 높은 항목의 모든 정보를 출력
# 조건문과 불 인덱싱 사용
# result = covid.groupby(['사례수']).sum()
# result
df_tmp = covid['사례수'] == covid['사례수'].max()

In [34]:
df1 = covid[df_tmp]  # <- 얘가 판다스에서 맛집기능임
df1

     항목  사례수    증가   감소  변화없음
0  스마트폰  999  78.9  1.7  19.4

In [53]:
# result2 = covid.groupby(['증가']).sum()
# result2.head(3)
# 3. 증가율'이 높은 3개의 항목을 출력해보자.
df2 = covid.sort_values(['증가'], ascending=False)
df2

       항목  사례수    증가    감소  변화없음
0    스마트폰  999  78.9   1.7  19.4
1    텔레비전  965  68.5   3.9  27.6
2  개인용 PC  973  65.7   3.7  30.6
3  태블릿 PC  662  46.8   4.2  49.0
4     라디오  687  35.5  12.5  52.0
5    잡지·책  776  31.3  17.8  50.9
6    종이신문  552  17.6  23.2  59.2

In [36]:
df3 = df2.iloc[:3]  #0,1,2번 인덱스 까지
df3

       항목  사례수    증가   감소  변화없음
0    스마트폰  999  78.9  1.7  19.4
1    텔레비전  965  68.5  3.9  27.6
2  개인용 PC  973  65.7  3.7  30.6

In [55]:
df4 = df2.loc[:2]
df4

       항목  사례수    증가   감소  변화없음
0    스마트폰  999  78.9  1.7  19.4
1    텔레비전  965  68.5  3.9  27.6
2  개인용 PC  973  65.7  3.7  30.6

In [37]:
# 문제
# 수강과 교수 데이터파일을 이용하여 다음 문제를 해결하세요.
# 수강 테이블 : signup.csv
# 교수 테이블 : professor.csv

# 1) 두 데이터프레임을 merge()을 사용해서 결합해서 출력하세요.

# 2) 교수 테이블에서 학과별 인원 수를 출력하세요. (count() 사용)

In [38]:
s1 = pd.read_csv('../input/pandas_02/signup.csv', encoding='cp949')
s1

   수강코드    과목명 담당교수
0   111    파이썬  양숙희
1   222  데이터분석  오경선
2   333   인공지능  장은실
3   444   선형대수  황복동
4   555   이산수학  정명식
5   666  컴퓨터개론  최봉수
6   777   자료구조  김진영
7   888   정보통신  김진호

In [39]:
s2 = pd.read_csv('../input/pandas_02/professor.csv', encoding='cp949')
s2

  담당교수     학과
0  양숙희  컴퓨터공학
1  장은실   정보통신
2  오경선   인공지능
3  황복동  컴퓨터공학
4  정명식   인공지능

In [40]:
# 1) 두 데이터프레임을 merge()을 사용해서 결합해서 출력하세요.

s1_s2 = pd.merge(s1, s2, on='담당교수', how='inner')
s1_s2

   수강코드    과목명 담당교수     학과
0   111    파이썬  양숙희  컴퓨터공학
1   222  데이터분석  오경선   인공지능
2   333   인공지능  장은실   정보통신
3   444   선형대수  황복동  컴퓨터공학
4   555   이산수학  정명식   인공지능

In [41]:
df4 = pd.merge(s1, s2, on='담당교수', how='outer')
df4

   수강코드    과목명 담당교수     학과
0   111    파이썬  양숙희  컴퓨터공학
1   222  데이터분석  오경선   인공지능
2   333   인공지능  장은실   정보통신
3   444   선형대수  황복동  컴퓨터공학
4   555   이산수학  정명식   인공지능
5   666  컴퓨터개론  최봉수    NaN
6   777   자료구조  김진영    NaN
7   888   정보통신  김진호    NaN

In [42]:
# 2) 교수 테이블에서 학과별 인원 수를 출력하세요. (count() 사용)
result3 = s2.groupby(['학과']).count()
result3

       담당교수
학과
인공지능      2
정보통신      1
컴퓨터공학     2

In [43]:
#'서울특별시 코로나19 백신 예방접종현황'에 대한 정보를 가지고 있는 데이터 파일 (vaccine.csv)을 이용하여 모든 문제를 차례대로 수행하세요.

# 필드명 : 설명
# date : 접종일
# subject : 접종대상자
# day1num : 당일 1차 접종자 수
# day1sum : 1차 접종 누계
# day1rate : 1차 접종률
# day2num : 당일 2차 접종자 수
# day2sum : 2차 접종 누계
# day2rate : 2차 접종률

# 1) csv파일을 불러와서 하위 5행의 데이터를 확인.
# 2) 필요없는 열을 삭제한 후 출력
# 삭제할 열 : day1sum, day1rate, day2sum, day2rate
# 3) 데이터프레임의 기초통계량을 확인
# 4) 새로운열("월")을 생성한 후 데이터 날짜의 월을 입력
#  5) 월별 평균을 출력

In [57]:
df5 = pd.read_csv('../input/pandas_02/vaccine.csv')
df5.tail()

,date,subject,day1num,day1sum,day1rate,day2num,day2sum,day2rate
174,2021.04.25,1023346,23323,350631,34.2,3411,18513,1.8
175,2021.04.24,1023346,200,350427,34.2,0,18513,1.8
176,2021.04.23,1027740,10195,345764,33.6,119,18376,1.8
177,2021.04.22,1023538,27074,317386,31.0,2479,15901,1.6
178,2021.04.21,1019322,22501,291857,28.6,2358,13543,1.3

In [45]:

df5.drop(['day1sum', 'day1rate', 'day2num', 'day2rate'], axis=1, inplace=True)
df5

           date  subject  day1num  day2sum
0    2021.10.16  9505868    10673  6191341
1    2021.10.15  9505868    14556  6124432
2    2021.10.14  9505868     9609  5989111
3    2021.10.13  9505868     9804  5893191
4    2021.10.12  9505868    17274  5814018
..          ...      ...      ...      ...
174  2021.04.25  1023346    23323    18513
175  2021.04.24  1023346      200    18513
176  2021.04.23  1027740    10195    18376
177  2021.04.22  1023538    27074    15901
178  2021.04.21  1019322    22501    13543

[179 rows x 4 columns]

In [46]:
# 3) 데이터프레임의 기초통계량을 확인

df5.describe()

            subject        day1num       day2sum
count  1.790000e+02     179.000000  1.790000e+02
mean   5.086644e+06   40078.150838  1.827141e+06
std    3.324235e+06   44231.469656  1.746153e+06
min    1.019322e+06       0.000000  1.354300e+04
25%    2.279241e+06    4385.000000  3.663575e+05
50%    3.943320e+06   23323.000000  1.226600e+06
75%    9.505868e+06   71634.500000  3.098630e+06
max    9.795426e+06  169036.000000  6.191341e+06

In [47]:
df5['월'] = 'month'
# df5['월'] = df5['월'].dt.month
# df5.dtypes
# 타입볼때는
# df5.info()
df5['월'] = df5.date.astype(str).str.slice(5, 7)
# df5['월'] = pd.to_datetime(df5['date'])
# df5.dtypes
# df5['월'] = df5['date'].dt.month
# df5['월'] = df5['월'].dt.month
df5

           date  subject  day1num  day2sum   월
0    2021.10.16  9505868    10673  6191341  10
1    2021.10.15  9505868    14556  6124432  10
2    2021.10.14  9505868     9609  5989111  10
3    2021.10.13  9505868     9804  5893191  10
4    2021.10.12  9505868    17274  5814018  10
..          ...      ...      ...      ...  ..
174  2021.04.25  1023346    23323    18513  04
175  2021.04.24  1023346      200    18513  04
176  2021.04.23  1027740    10195    18376  04
177  2021.04.22  1023538    27074    15901  04
178  2021.04.21  1019322    22501    13543  04

[179 rows x 5 columns]

In [48]:
df5

           date  subject  day1num  day2sum   월
0    2021.10.16  9505868    10673  6191341  10
1    2021.10.15  9505868    14556  6124432  10
2    2021.10.14  9505868     9609  5989111  10
3    2021.10.13  9505868     9804  5893191  10
4    2021.10.12  9505868    17274  5814018  10
..          ...      ...      ...      ...  ..
174  2021.04.25  1023346    23323    18513  04
175  2021.04.24  1023346      200    18513  04
176  2021.04.23  1027740    10195    18376  04
177  2021.04.22  1023538    27074    15901  04
178  2021.04.21  1019322    22501    13543  04

[179 rows x 5 columns]

In [49]:
# 5) 월별 평균을 출력
df5.info()
df6 = df5[['day1num','day2sum','월']].groupby('월').mean()
df6
# 평균을 출력할 수 있는 열(접종일과 접종대상자는 평균을 구할 필요가 없음)만 선택 후 평균.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     179 non-null    object
 1   subject  179 non-null    int64
 2   day1num  179 non-null    int64
 3   day2sum  179 non-null    int64
 4   월        179 non-null    object
dtypes: int64(3), object(2)
memory usage: 7.1+ KB

         day1num       day2sum
월
04  22060.100000  2.276060e+04
05  18225.548387  1.661513e+05
06  55957.200000  6.229332e+05
07  25807.870968  1.167138e+06
08  57667.258065  1.984530e+06
09  65715.000000  3.887544e+06
10   9406.312500  5.541498e+06